{% if compose_environment_nginx is not false %}
  nginx:
{% if compose_magento_image_php is not false %}
    depends_on:
      - php
{% endif %}
    image: {{ compose_magento_image_nginx }}
    networks:
      - net_{{ compose_magento_project_prefix }}
    ports:
      - {{ compose_magento_project_gateway }}:80:80
    volumes:
      - {{ compose_magento_source_directory }}:{{ compose_magento_nginx_document_root }}
      - {{ compose_magento_config_directory }}/default.conf:/etc/nginx/conf.d/default.conf
{% endif %}
